body {
}

.doan1 {
    color: red;
    font-size: 18px;
}

.doan2 {
    color:blue;
    font-size: 18px;
}

.doan3 {
    color:green;
    font-size: 18px;
}

.doan4 {
    color:red;
    font-size: 18px;
}


